@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

html, body{
    font-family: 'Comfortaa', cursive, sans-serif;
    background-color: #f5f5f5;
    max-width: 100%;
    overflow-x: hidden;
}

h2{
    font-size: 36px;
}

li {
    list-style-type: none;
}

header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0 10%;
    z-index: 10;
    background-color: green;
}

header .logo a{
    font-weight: 600;
    font-size: 2rem;
    text-decoration:none;
    color: white;
    text-transform: uppercase;
    display: block;
}
header .menu {
    display: flex;
    margin-bottom: 0;
}


header .menu.mobile-mode .link {
    display: none;
}


header .menu .open-mobile-menu{
    display: none;
}

header .menu.mobile-mode .open-mobile-menu{
    display: block;
    color:white;
}

header .menu.mobile-mode .open-mobile-menu{
    display: block;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1.5rem;
    cursor: pointer
}
header .menu a{
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

header .menu a:hover{
    color: #ffff00;
}


header .menu .link{
    padding: 20px;
  }

header .menu .dropdown{
    position: relative;
}

header .menu .dropdown:hover .sub-menu{
    display: block;
}

header .menu .dropdown .sub-menu{
    display: none;
    position: absolute;
    background: green;
    transform: translate3d(0,10px, 0);
    padding: 20px;
    min-width: 150px;
    border-radius: 3px;
    
} 

header .menu .dropdown .sub-menu a{
color: white;
display: block;
padding: 10px
}


header .menu .dropdown .sub-menu a:hover{
    color: #ffff00;
    }

.fa fa-bars{
    color: white;
}


#mobile-menu{
    background: green;
    height: 100vh; 
    width: 100vw;
    position: fixed; 
    top: 0;
    left: 0; 
    z-index: 20;
    padding: 20px;
    display: none;
    transform: translate3d(-100%, 0 ,0);
}
#mobile-menu.active{
    display: block;
}

#mobile-menu ul{
    padding-left: 0;
}

#mobile-menu .logo{
    font-size: 2rem;
    text-align: center;
    position: relative;
}
#mobile-menu .logo a{
    color: white;
    text-transform: uppercase;    
}

.close-mobile-menu{
    height: 50px;
    width: 50px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    position: absolute;
    right: 0;
    top: -5px;
    cursor: pointer;
}

#mobile-menu .menu li{
   margin-bottom: 1rem;
}

#mobile-menu .menu > li > a{
    color: #ffff00;
    font-size: 1.2rem;
    display: block; 
    /* border-bottom: 1px solid white; */
    margin-bottom: 15px;
    text-decoration: none;
    text-align: center;
    padding-bottom: 10px;
  
}

/* #mobile-menu .menu > li.dropdown{
    display: flex;
} */

/* #mobile-menu .menu > li.dropdown > a{
    color: white;
    font-size: 1.2rem;
    display: inline-block; 
    border-bottom: none;
} */

#mobile-menu .menu > li.dropdown .sub-menu a{
    color: green;
    font-size: 1.2rem;
    display: inline-block; 
    border-bottom: none;
    padding: 10px 7px;
    text-decoration: none;
}


.jumbo .bg-img {
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-image: url("/assets/jumbo-img.jpg");
}


.jumbo .jumbo-text{
    margin: 0 5%;
    padding: 17% 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.jumbo .jumbo-text h1{
    font-size: 100px; 
}

.jumbo .jumbo-text h3{
    font-size: 36px;
    padding: 10px 0
}
.jumbo .jumbo-button button{
    height: 55px;
    width: 150px;
    background:rgb(30, 90, 44);
    color: white;
    border: 2px solid rgb(1, 56, 1);
}


.jumbo .jumbo-button button:hover{
    background:rgb(255, 255, 255);
    color: rgb(30, 90, 44);
    border: 2px solid rgb(1, 56, 1);
}


.services .row {
    display: flex;
    justify-content: center;
    padding:100px 0 100px 0
}

.services .row .col{

 text-align: center;

}

.services .row .col i{
font-size: 50px;
padding-right: 10px;
padding-top: 8px;
padding-bottom: 10px;
display: flex;
justify-content: center;
color: green;
}


.services .row .col h4{
    display: flex;
    justify-content: center;
}

.services .row .col p{
    text-align: center;

}


.collections-list{
  padding: 100px 0 100px 0;
  background-color: rgb(226, 226, 226);
}

.collections-list h2{
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
}

.collections-list .row{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}


.collections-list .col{
    text-align: center;
    display: flex;
    flex-direction: column;


}

.collections-list .col img{
    height: 150px;
    width: 150px;
    align-self: center;

}



.collections-list .col .img-box{
    background-color: white;
    border: 2px solid white;
    padding: 30px;

}



.collections-list .col h4 {
   padding-top: 15px;
    font-weight: 700;
    color: black;
}

.collections-list .col p{
    padding-top: 10px;
    color: black

 }


.featured-products{
    padding: 100px 0 100px 0;
}

.featured-products h2{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.featured-products .row{ 
    display: flex;
    justify-content: center;
}

.featured-products .col{
    padding-top: 50px;
    width:  300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 10px 0 10px;
}

.featured-products .img-box{ 
    background-color: white;
    border: 2px solid white;
    padding: 25px;
  
}
.featured-products .col h4{
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 10px;
}

.featured-products .col  h5{
    font-weight: 200;
}

.featured-products .col img{
height: 150px;
width: 150px;

  }

.certified .row {
    display: flex;
    justify-content: center;
    border: 2px solid rgba(56, 192, 87, 0.426);
}


.certified .col {
    display: flex;
    justify-content: center;
    padding: 75px 0 75px 0;
}

.certified img {
    height: 100px;
    width: 100px;
}

.banner{
    /* margin: 100px 0 100px 0;
    background: url('/assets/pexels-karolina-grabowska-5842510.jpg');
    background-size: cover;
    width: 1200px;
    height: 500px; */
    padding: 75px 0 0 0;
}

.banner .col{
    display: flex;
    justify-content: center;
    position: relative;
}

.banner img{ 
    width: 1200px;
    height: 500px;
}

.banner .col h2  {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 150px;
    color: white;
    justify-content: center;
    padding-top: 100px;
 
}

.banner .col h4  {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    color: white;
    justify-content: center;
    padding-top: 250px;
 
}

.blog-post{
    padding: 100px 0 100px 0;   
}

.blog-post h2{
    display: flex;
    justify-content: center; 
    padding-bottom: 50px;
}


.blog-post img{
    height:300px;
  
}


.blog-post .col{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: 300px;
}



.blog-post .col h4{
    padding-top: 15px;
}

.footer {    
    padding-top: 25px;    
    display: flex;
    justify-content: center;
    background-color: grey;
}

.footer h3{
    color: white;
}

.footer .social-icons{
    display: flex;
    flex-direction: row;
}

.footer .social-icons li{
    margin: 0 50px 0 50px ;
    padding-left: -10px;
    padding-top: 5px;
}

.footer .social-icons i{
    font-size: 1.2rem;
    color: white;
}


.footer .col li{
    color: #f4f7fd;
    list-style-type: none;
    margin-left: -29px;
}

.footer .col ul{
    
    padding-top: 15px;;
}




/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 375px) and (max-width: 767px) {
 
    header .logo a {
        font-size: 20px;
    }

    .jumbo .jumbo-text{
        padding: 200px 0;
     
        
    }

    .jumbo .jumbo-text h1  {
        font-size: 50px;
    }

    .jumbo .jumbo-text h3  {
        font-size: 25px;
    }

    .services .row {
        flex-direction: column;
    }

    .banner .col h2  {
        font-size: 75px;
        padding-top: 150px;
     
    }
    
    .banner .col h4  {
        font-size: 30px;
        padding-top: 225px;
    }
    
    .footer{
        display: flex;
        flex-direction: column;
    }


 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {



  header .logo a {
        font-size: 20px;
    }

    .jumbo .jumbo-text{
        padding: 350px 0;
     
        
    }

    .jumbo .jumbo-text h1  {
        font-size: 50px;
    }

    .jumbo .jumbo-text h3  {
        font-size: 25px;
    }
    
    .collections-list .row{
        display: flex;
        justify-content: space-evenly;
        padding-top: 50px;
    }

    .featured-products .row{ 
        display: flex;
        justify-content: center;
    }
    


    .banner .col h2  {
        font-size: 115px;
        padding-top: 150px;
     
    }
    
    .banner .col h4  {
        font-size: 60px;
        padding-top: 295px;
    }
    

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
    /* .jumbo h1  {
        font-size: 75px;
        padding-top: 300px;
        padding-left: 20px;
    }

    .jumbo h3  {
        font-size: 36px;
        padding-top: 500px;
        padding-left: 20px;
    }

    .jumbo .jumbo-button  {
        padding: 650px 10px 10px 10px;
    } */

 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399px) { 
    /* .jumbo h1  {
        font-size: 125px;
        padding-top: 300px;
        padding-left: 20px;
    }

    .jumbo h3  {
        font-size: 36px;
        padding-top: 500px;
        padding-left: 20px;
    }

    .jumbo .jumbo-button  {
        padding: 650px 10px 10px 10px;
    } */
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px){

}

